body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page  */ 

/*Alligned both buttons to the middle of the screen */
.postButtons {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

/*Set a style for the create posts/all posts buttons */
.midButtons {
 width: 110px;
 padding: 10px;
 cursor: pointer;
 font-weight: 500;
 font-size: 90%;
 background: orange;
 color: black;                 
 margin: 10px 10px 0px 0px;
 font-family: Arial, Helvetica, sans-serif;

}


button:hover {
 opacity:1;
}